<!-- Modal -->
<form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Yeni Alis Siparisi</h5>
      <button type="button" [disabled]="!updateForm.valid" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset formGroupName="ledger">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Tarih</label>
          <div class="col-sm-9">
            <input
              formControlName="registerDate"
              class="form-control"
              type="date"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Aciklama</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="description" />
          </div>
        </div>
      </fieldset>
      <fieldset formGroupName="wholeSaleOrder">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Note</label>
          <div class="col-sm-9">
            <textarea
              class="form-control"
              formControlName="note"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Fatura Nr</label>
          <div class="col-sm-9">
            <input
              formControlName="wholeSaleOrderNumber"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Partner</label>
          <div class="col-sm-9">
            <ng-select
              [items]="partners"
              bindLabel="name"
              bindValue="id"
              formControlName="partnerId"
            >
            </ng-select>
            <div
              *ngIf="
                (getControlWholeSaleOrder?.get('partnerId')?.touched ||
                  getControlWholeSaleOrder?.get('partnerId')?.dirty) &&
                getControlWholeSaleOrder?.get('partnerId')?.invalid
              "
              class="text-danger"
            >
              <div
                *ngIf="getControlWholeSaleOrder?.get('partnerId')?.errors?.min"
              >
                Zorunlu Alan
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-check d-flex justify-content-center">
              
              <label class="form-check-label" for="flexCheckChecked">
                <input class="form-check-input" type="checkbox" formControlName="isPaid">
                Fatura Odendi Mi?
              </label>
            </div> -->
      </fieldset>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Depo</label>
        <div class="col-sm-9">
          <ng-select
            [items]="warehouses"
            bindLabel="name"
            bindValue="id"
            [formControl]="warehouseId"
          >
          </ng-select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="dismissModal()"
        class="btn btn-outline-warning"
      >
        Iptal
      </button>
      <button type="submit" class="btn btn-outline-success">Duzenle</button>
    </div>
  </div>
</form>
