<h4>
  Partnerin Yeni Banka Hesapini
  <button type="button" class="btn btn-primary" (click)="openCreateModal()">
    Ekle
  </button>
</h4>
<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Banka Ismi</th>
    <th>Partner Ismi</th>
    <th>Banka Hesap Numarasi</th>
    <th>Iban Nunarasi</th>
    <th>Swift Kod</th>
    <th>Islemler</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of getDtoPartnerBankAccounts; trackBy: trackByFn">
      <td>{{ item.id }}</td>
      <td>{{ item.bankName }}</td>
      <td>{{ item.partnerName }}</td>
      <td>{{ item.accountNumber }}</td>
      <td>{{ item.iban }}</td>
      <td>{{ item.swiftCode }}</td>
      <td>
        <button
          type="button"
          ngbPopover="Partner Hesap Silme"
          triggers="mouseenter:mouseleave"
          class="btn btn-danger mr-1"
          (click)="delete(item.id)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
        <button
          type="button"
          ngbPopover="Partner Hasap Duzenleme"
          triggers="mouseenter:mouseleave"
          class="btn btn-warning mr-1"
          (click)="openUpdateModal(item.id)"
        >
          <i class="far fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
