<section class="content">
  <div class="container-fluid">
    <h5 class="mb-2">Kayit Bilgi Kutucuklari</h5>
    <div class="row">
      <div
        type="button"
        (click)="openCreateModal()"
        class="col-md-3 col-sm-6 col-12"
      >
        <div class="info-box">
          <span class="info-box-icon bg-warning"
            ><i class="far fa-copy"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Yeni Kayit</span>
            <span class="info-box-number">Ekle</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"
            ><i class="fas fa-barcode"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Kayit Sayisi</span>
            <span class="info-box-number">{{ payments.length }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"
            ><i class="far fa-flag"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Bookmarks</span>
            <span class="info-box-number">410</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"
            ><i class="far fa-star"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">93,139</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</section>

<p-table
  #dt
  [value]="payments"
  [rows]="10"
  sortMode="multiple"
  dataKey="id"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50, 100, 250, 500, 1000]"
  styleClass="p-datatable-customers p-datatable-gridlines"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowTrackBy]="trackByFn"
  styleClass="p-datatable-sm"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button
        pButton
        label="Clear"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        class="btn btn-info"
        (click)="clear(dt)"
      >
        Filteri Temzile
      </button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="ledgerId">
        <p-columnFilter
          type="text"
          field="ledgerId"
          display="menu"
        ></p-columnFilter>
        ID
        <p-sortIcon field="ledgerId"></p-sortIcon>
      </th>
      <th pSortableColumn="registerDate">
        <p-columnFilter
          type="date"
          field="registerDate"
          display="menu"
        ></p-columnFilter>
        Kayit Tarihi
        <p-sortIcon field="registerDate"></p-sortIcon>
      </th>
      <th pSortableColumn="accountName">
        <p-columnFilter
          pSortableColumn="accountName"
          type="text"
          field="accountName"
          display="menu"
        ></p-columnFilter>
        Hesap Ismi
        <p-sortIcon field="accountName"></p-sortIcon>
      </th>
      <th pSortableColumn="partnerName">
        <p-columnFilter
          pSortableColumn="partnerName"
          type="text"
          field="partnerName"
          display="menu"
        ></p-columnFilter>
        Para Birimi
        <p-sortIcon field="partnerName"></p-sortIcon>
      </th>
      <th pSortableColumn="paymentType">
        <p-columnFilter
          pSortableColumn="paymentType"
          type="text"
          field="paymentType"
          display="menu"
        ></p-columnFilter>
        Partner Ismi
        <p-sortIcon field="paymentType"></p-sortIcon>
      </th>
      <th pSortableColumn="amount">
        <p-columnFilter
          type="numeric"
          field="amount"
          display="menu"
        ></p-columnFilter>
        Tutar
        <p-sortIcon field="amount"></p-sortIcon>
      </th>
      <th style="width: 8em">Islemeler</th>
    </tr>
    <tr>
      <th *ngFor="let col of cols" [ngSwitch]="col.field">
        <input
          class="form-control input-sm"
          pInputText
          type="text"
          (keyup)="
            dt.filter($any($event.target).value, col.field, col.filterMatchMode)
          "
        />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <!-- <td *ngFor="let col of cols">
                  {{col.data ? (item[col.field]| date : col.format) : item[col.field]}}
          </td> -->
      <td>
        {{ item.ledgerId }}
      </td>
      <td>
        {{ item.registerDate | date: "dd/MM/yyyy" }}
      </td>
      <td>
        {{ item.accountName }}
      </td>
      <td>
        {{ item.partnerName }}
      </td>
      <td>
        {{ item.paymentType }}
      </td>
      <td>
        {{ item.amount | number: "1.0-2" }}
      </td>
      <td>
        <button
          type="button"
          ngbPopover="Odeme Silme"
          triggers="mouseenter:mouseleave"
          class="btn btn-danger mr-1"
          (click)="delete(item.id)"
        >
          <i class="far fa-trash-alt"></i>
        </button>
        <button
          type="button"
          ngbPopover="Odeme Duzenleme"
          triggers="mouseenter:mouseleave"
          class="btn btn-warning"
          (click)="openUpdateModal(item.ledgerId)"
        >
          <i class="far fa-edit"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
