<form [formGroup]="addForm" (ngSubmit)="onAdd()">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Depo Ekle</h5>
      <button type="button" class="close" (click)="dismissModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-md-12">
        <label>Depo Ismi</label>
        <input class="form-control" formControlName="name" />
        <div
          *ngIf="
            (getControl.name.touched || getControl.name.dirty) &&
            getControl.name.invalid
          "
          class="text-danger"
        >
          <div *ngIf="getControl.name.errors?.required">Zorunlu Alan</div>
          <div *ngIf="getControl.name.errors?.maxlength">
            Maksimum 40 Karakter
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Sirket Ismi</label>
        <select class="form-control" formControlName="companyId">
          <option *ngFor="let company of companies" [value]="company.id">
            {{ company.name }}
          </option>
        </select>
        <div
          *ngIf="
            (getControl.companyId.touched || getControl.companyId.dirty) &&
            getControl.companyId.invalid
          "
          class="text-danger"
        >
          <div *ngIf="getControl.name.errors?.min">Zorunlu Alan</div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Ulke</label>
        <input class="form-control" formControlName="country" />
        <div
          *ngIf="
            (getControl.country.touched || getControl.country.dirty) &&
            getControl.country.invalid
          "
          class="text-danger"
        >
          <div *ngIf="getControl.country.errors?.required">Zorunlu Alan</div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Sehir</label>
        <input class="form-control" formControlName="city" />
        <div
          *ngIf="
            (getControl.city.touched || getControl.city.dirty) &&
            getControl.city.invalid
          "
          class="text-danger"
        >
          <div *ngIf="getControl.city.errors?.required">Zorunlu Alan</div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Adres</label>
        <input class="form-control" formControlName="addressDetail" />
        <div
          *ngIf="
            (getControl.addressDetail.touched ||
              getControl.addressDetail.dirty) &&
            getControl.addressDetail.invalid
          "
          class="text-danger"
        >
          <div *ngIf="getControl.addressDetail.errors?.required">
            Zorunlu Alan
          </div>
          <div *ngIf="getControl.addressDetail.errors?.maxlength">
            Maksimum 250 Karakter
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Zip Kod</label>
        <input class="form-control" formControlName="zipCode" />
        <div
          *ngIf="
            (getControl.zipCode.touched || getControl.zipCode.dirty) &&
            getControl.zipCode.invalid
          "
          class="text-danger"
        >
          <div *ngIf="getControl.zipCode.errors?.required">Zorunlu Alan</div>
          <div
            *ngIf="
              getControl.zipCode.errors?.maxlength ||
              getControl.zipCode.errors?.minlength
            "
          >
            5 Karakterli Olmali
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="dismissModal()"
        class="btn btn-outline-warning"
      >
        Iptal
      </button>
      <button type="submit" class="btn btn-outline-success">Ekle</button>
    </div>
  </div>
</form>
